*{
    margin: 0px;
    padding: 0px;

}

.main3{
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-image: url('./bkgrnd.jpg'); */
    background-size: cover;

}



.img2{
    height: 90%;
    width: 100%;
    margin-left: 50px;
}





::placeholder{
    color:#919191 ;
    text-align: center;
}

.wlcm{
    align-self: center;
    font-family: cursive;
    font-size: 35px; 
    color:#012779 ;
    margin-top: 60px;

}

.ipf{
    width: 380px;
    height: 40px;
    align-self: center;
    border-radius: 30px;
    outline: none;
    margin-top: 30px;
    border-color: rgba(0, 0, 255, 0.877);
    opacity: 0.6;
    

}



.ipf:focus{
    width: 410px;
}

.btnn{
    width: 260px;
    height: 35px;
    align-self: center;
    border-radius: 25px;
    margin-top: 30px ;
    outline: none;
    border: none;
    background-color: rgba(16, 16, 235, 0.959);
    cursor: pointer;
}

.tx{
    font-size:32px;
    font-family:cursive;
    color:rgba(2, 2, 43, 0.9 mh01);
    align-self: center;
    justify-self: center;
    margin-left: 30px;
}


 
@media screen and (min-width:540px) and (max-width:770px) {

    
.main3{
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    background-size: cover;

}


.img2{
    height: 40%;
    width: 50%;
    margin-left: 50px;
}

    
.ipf{
    width: 180px;
    height: 10px;
    align-self: center;
    border-radius: 30px;
    outline: none;
    margin-top: 30px;
    border-color: rgba(0, 0, 255, 0.527);
    opacity: 0.6;
    

}

    
    
        
    }

    
@media screen and (min-width:280px) and (max-width:720px) {

    
.ipf{
    width: 300px;
    height: 40px;
    align-self: center;
    border-radius: 30px;
    outline: none;
    margin-top: 30px;
    border-color: rgba(0, 0, 255, 0.877);
    opacity: 0.6;
    

}




    }